[submodule "cairo-vm"]
	path = cairo-vm
	url = https://github.com/lambdaclass/cairo-vm
[submodule "stone-prover"]
	path = stone-prover
	url = https://github.com/starkware-libs/stone-prover
[submodule "integrity"]
	path = integrity
	url = https://github.com/HerodotusDev/integrity
